{:aliases  {:dev {:extra-paths ["."
                                "development/src"
                                "scripts"]

                  :extra-deps {poly/antq                     {:local/root "libs/antq"}
                               poly/api                      {:local/root "libs/api"}
                               poly/change                   {:local/root "libs/change"}
                               poly/clojure-test-test-runner {:local/root "libs/clojure-test-test-runner"}
                               poly/command                  {:local/root "libs/command"}
                               poly/common                   {:local/root "libs/common"}
                               poly/config-reader            {:local/root "libs/config-reader"}
                               poly/creator                  {:local/root "libs/creator"}
                               poly/deps                     {:local/root "libs/deps"}
                               poly/doc                      {:local/root "libs/doc"}
                               poly/file                     {:local/root "libs/file"}
                               poly/git                      {:local/root "libs/git"}
                               poly/help                     {:local/root "libs/help"}
                               poly/lib                      {:local/root "libs/lib"}
                               poly/migrator                 {:local/root "libs/migrator"}
                               poly/overview                 {:local/root "libs/overview"}
                               poly/path-finder              {:local/root "libs/path-finder"}
                               poly/sh                       {:local/root "libs/sh"}
                               poly/shell                    {:local/root "libs/shell"}
                               poly/tap                      {:local/root "libs/tap"}
                               poly/test-helper              {:local/root "libs/test-helper"}
                               poly/test-runner-contract     {:local/root "libs/test-runner-contract"}
                               poly/test-runner-orchestrator {:local/root "libs/test-runner-orchestrator"}
                               poly/text-table               {:local/root "libs/text-table"}
                               poly/user-config              {:local/root "libs/user-config"}
                               poly/user-input               {:local/root "libs/user-input"}
                               poly/util                     {:local/root "libs/util"}
                               poly/validator                {:local/root "libs/validator"}
                               poly/version                  {:local/root "libs/version"}
                               poly/workspace                {:local/root "libs/workspace"}
                               poly/workspace-clj            {:local/root "libs/workspace-clj"}
                               poly/ws-explorer              {:local/root "libs/ws-explorer"}
                               poly/ws-file                  {:local/root "libs/ws-file"}
                               poly/nav-generator            {:local/root "bases/nav-generator"}
                               poly/poly-cli                 {:local/root "bases/poly-cli"}

                               org.clojure/clojure {:mvn/version "1.11.1"}
                               org.slf4j/slf4j-nop {:mvn/version "2.0.9"}
                               rewrite-clj/rewrite-clj {:mvn/version "1.1.47"}}}

            :+default {:extra-deps {poly/image-creator {:local/root "libs/image-creator"}
                                    poly/system {:local/root "libs/system"}}}

            :+extended {:extra-deps {poly/image-creator-x {:local/root "libs/image-creator-x"}
                                     poly/system-x {:local/root "libs/system-x"}}}

            :test {:extra-paths ["libs/change/test"
                                 "libs/clojure-test-test-runner/test"
                                 "libs/command/test"
                                 "libs/common/test"
                                 "libs/config-reader/test"
                                 "libs/creator/test"
                                 "libs/deps/test"
                                 "libs/git/test"
                                 "libs/lib/test"
                                 "libs/path-finder/test"
                                 "libs/shell/test"
                                 "libs/test-runner-contract/test"
                                 "libs/test-runner-orchestrator/test"
                                 "libs/user-input/test"
                                 "libs/util/test"
                                 "libs/validator/test"
                                 "libs/workspace/test"
                                 "libs/workspace-clj/test"
                                 "libs/ws-explorer/test"
                                 "bases/poly-cli/test"
                                 "projects/poly/test"]}

            ;; Any sha
            :polys  {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                     :extra-deps {polyfy/polylith
                                  {:git/url   "https://github.com/polyfy/polylith"
                                   :sha       "48d8a14d31a02cd2229d99bca094fe383d3dcace"
                                   :deps/root "projects/poly"}}}

            ;; ws version 0.0
            :poly109  {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                       :extra-deps {polylith/clj-poly {:mvn/version "0.1.0-alpha9"}}}

            ;; ws version 1.0
            :poly213  {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                       :extra-deps {polylith/clj-poly {:mvn/version "0.2.13-alpha"}}}

            ;; ws version 1.1
            :poly215  {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                       :extra-deps {polylith/clj-poly {:mvn/version "0.2.15-alpha"}}}

            ;; ws version 1.2
            :poly217  {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                       :extra-deps {polylith/clj-poly {:mvn/version "0.2.17-alpha"}}}

            ;; ws version 2.0
            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:local/root "projects/poly"}}}

            :polyx {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                    :extra-deps {polylith/clj-polyx {:local/root "projects/polyx"}}}

            :outdated {:main-opts ["-m" "antq.core"]
                       :extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}}

            :migrator {:main-opts ["-m" "polylith.clj.core.migrator-cli.core"]
                       :extra-deps {polylith/clj-poly-migrator {:local/root "projects/poly-migrator"}}}

            :gen-nav {:main-opts ["-m" "polylith.clj.core.nav-generator.main"]
                      :extra-deps {polylith/clj-poly {:local/root "projects/poly"}}}

            :build {:deps {org.clojure/tools.deps {:mvn/version "0.18.1354"}
                           io.github.clojure/tools.build {:mvn/version "0.9.5"}
                           org.babashka/http-client {:mvn/version "0.3.11"}
                           slipset/deps-deploy {:mvn/version "0.2.1"}
                           polylith/clj-poly {:local/root "projects/poly"}}
                    :paths ["build/resources"]
                    :ns-default build}}}
