{:deps {poly/api                      {:local/root "../../libs/api"}
        poly/antq                     {:local/root "../../libs/antq"}
        poly/change                   {:local/root "../../libs/change"}
        poly/clojure-test-test-runner {:local/root "../../libs/clojure-test-test-runner"}
        poly/command                  {:local/root "../../libs/command"}
        poly/common                   {:local/root "../../libs/common"}
        poly/config-reader            {:local/root "../../libs/config-reader"}
        poly/creator                  {:local/root "../../libs/creator"}
        poly/deps                     {:local/root "../../libs/deps"}
        poly/doc                      {:local/root "../../libs/doc"}
        poly/file                     {:local/root "../../libs/file"}
        poly/git                      {:local/root "../../libs/git"}
        poly/help                     {:local/root "../../libs/help"}
        poly/image-creator            {:local/root "../../libs/image-creator"}
        poly/lib                      {:local/root "../../libs/lib"}
        poly/migrator                 {:local/root "../../libs/migrator"}
        poly/overview                 {:local/root "../../libs/overview"}
        poly/path-finder              {:local/root "../../libs/path-finder"}
        poly/sh                       {:local/root "../../libs/sh"}
        poly/shell                    {:local/root "../../libs/shell"}
        poly/system                   {:local/root "../../libs/system"}
        poly/tap                      {:local/root "../../libs/tap"}
        poly/test-runner-contract     {:local/root "../../libs/test-runner-contract"}
        poly/test-runner-orchestrator {:local/root "../../libs/test-runner-orchestrator"}
        poly/text-table               {:local/root "../../libs/text-table"}
        poly/user-config              {:local/root "../../libs/user-config"}
        poly/user-input               {:local/root "../../libs/user-input"}
        poly/util                     {:local/root "../../libs/util"}
        poly/validator                {:local/root "../../libs/validator"}
        poly/version                  {:local/root "../../libs/version"}
        poly/workspace                {:local/root "../../libs/workspace"}
        poly/workspace-clj            {:local/root "../../libs/workspace-clj"}
        poly/ws-explorer              {:local/root "../../libs/ws-explorer"}
        poly/ws-file                  {:local/root "../../libs/ws-file"}
        poly/nav-generator            {:local/root "../../bases/nav-generator"}
        poly/poly-cli                 {:local/root "../../bases/poly-cli"}

        org.clojure/clojure {:mvn/version "1.11.1"}
        org.slf4j/slf4j-nop {:mvn/version "2.0.9"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {poly/test-helper {:local/root "../../libs/test-helper"}
                                pjstadig/humane-test-output {:mvn/version "0.11.0"}}}

           :uberjar {:main polylith.clj.core.poly-cli.core}

           :jar {:jar-file "target/poly-thin.jar"}}}
