{:deps {poly/database     {:local/root "../../libs/database"}
        poly/datomic-ions {:local/root "../../libs/datomic-ions"}
        poly/invoicer     {:local/root "../../libs/invoicer"}
        poly/util         {:local/root "../../libs/util"}
        poly/without-src  {:local/root "../../libs/without-src"}
        poly/invoicer-cli {:local/root "../../bases/invoicer-cli"}

        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps {:mvn/version "0.16.1281"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {poly/test-helper  {:local/root "../../libs/test-helper"}
                                poly/test-helper-db  {:local/root "../../libs/test-helper-db"}}}}}
