{:aliases  {:dev {:extra-paths ["development/src"
                                "libs/company/clj"
                                "libs/company/cljc"
                                "libs/company/resources"
                                "libs/a-okay/src"
                                "libs/b-fail/src"
                                "libs/exclude-me/src"
                                "libs/util/src"
                                "bases/cli/src"
                                "bases/helper/src"
                                "bases/worker/src"]

                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}

            :test {:extra-paths ["libs/company/test"
                                 "libs/company/test2"
                                 "libs/a-okay/test"
                                 "libs/b-fail/test"
                                 "libs/exclude-me/test"
                                 "libs/util/test"
                                 "bases/cli/test"
                                 "bases/helper/test"
                                 "projects/failing-test/test"
                                 "projects/failing-test-teardown-fails/test"
                                 "projects/okay/test"
                                 "projects/setup-fails/test"
                                 "projects/teardown-fails/test"
                                 "projects/x-okay/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polylith/clj-poly {:local/root "../../projects/poly"}}}}}
