{:deps {poly/a-okay     {:local/root "../../libs/a-okay"}
        poly/company    {:local/root "../../libs/company"}
        poly/exclude-me {:local/root "../../libs/exclude-me"}
        poly/util       {:local/root "../../libs/util"}
        org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps {:mvn/version "0.16.1281"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
